<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img [src]="candidate.link" class="card-img" alt="...">
    </div>
    <div class="col-md-5">
      <div class="card-body">
        <h5 class="card-title">{{ candidate.title }}</h5>
        <button class="btn btn-primary mr-2" (click)="voteUp()">Up</button>
        <button class="btn btn-primary" (click)="voteDown()">Down</button>
      </div>
    </div>
    <div class="col-md-5 bg-primary">
      <h1>{{ candidate.votes }}</h1>
      <p>point</p>
    </div>
  </div>
</div>
