<div class="container">
  <h2>The Vote</h2>

  <form>
    <legend>Add a Link</legend>
    <div class="form-group">
      <label for="inputTitle">Title</label>
      <input type="text" class="form-control" id="inputTitle" placeholder="Enter title" #newtitle>
    </div>
    <div class="form-group">
      <label for="inputLink">Link</label>
      <input type="text" class="form-control" id="inputLink" placeholder="Enter Link" #newlink>
    </div>
    <button class="btn btn-primary" (click)="addLink(newtitle, newlink)">Submit</button>
  </form>

  <div class="row">
    <app-candidate *ngFor="let candidate of sortedCandidates()" [candidate]="candidate"></app-candidate>
  </div>
</div>
